@import "~normalize.css";
@import "vars";

body {
  background-color: @body-background;
  font-family: @body-font;
  display: flex;
  padding: 10px;
  color: #ffffff;
  @media(max-width: 1000px) {
    flex-wrap: wrap;
  }
}
.left__container {
  margin-right: 10px;
  width: 20%;
  @media(max-width:1000px) {
  width: 25%;
}
}
.right__container {
  display: flex;
  width: 20%;
  @media(max-width: 1000px) {
    width: 100%;
    margin-top: 10px;
  }
  .slider__items {
    max-height: 87vh;
    @media(max-width:1000px) {
      max-height: 40vh;
    }
  }
  .country__container:first-of-type {
    margin-top: 0;
  }
}

.global__container {
  background-color: @container-background;
  border: @border;
  color: @red-color;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  &__text {
    font-size: 1rem;
    margin: 5px 0 10px;
    color: #ffffff;
    letter-spacing: @letter-spacing;
    text-transform: uppercase;
  }

  &__amount {
    font-size: 2.5rem;
    font-weight: 300;
    @media(max-width:1000px) {
      font-size: 2rem;
    }
  }
}

.slider-cases {
  background-color: @container-background;
  border: @border;
  position: relative;
  width: 100%;
  .flag__image {
    max-width: 30px;
    @media(max-width:1000px) {
      max-width: 20px;
    }
  }
}

.slider__items {
  display: flex;
  max-height: 73vh;
  overflow: scroll;
  padding: 0 20px;
  width: 9999px;
  margin: 0;
  list-style: none;
  transition: margin-left 250ms;
  @media(max-width:1000px) {
    max-height: 30vh;
  }
}

.inner__container {
  width: 100%;
  max-width: 400px;
  margin-right: 100px;
}

.country__container {
  display: flex;
  align-items: center;
  border-bottom: @border;
}
.country__container:first-of-type {
  margin-top: 60px;
}

.country-name {
  font-weight: 300;
  margin-right: 10px;
}

.cases-total {
  color: @blue-color;
  margin-right: 10px;
  font-weight: 900;
}
.cases__title,
.deaths__title,
.recovered__title{
  text-transform: uppercase;
  font-size: 1.3rem;
  position: fixed;
  background: @container-background;
  width: 16%;
  padding: 20px 0;
  margin: 0;
  @media(max-width:1000px) {
    font-size: 1rem;
  }
}
.deaths__title {
  color: @red-color;
}
.recovered__title {
  color: @green-color;
}
.recovered-cases {
  color: @green-color;
  margin-right: 10px;
}
.death-cases {
  color: @red-color;
  margin-right: 10px;
}

.death-cases__container,
.recovered-cases__container {
  max-height: 50vh;
  overflow: scroll;
  background-color: @container-background;
  border: @border;
  text-align: center;
  margin: 0 5px;
}

.death-cases-by-country,
.recovered-cases-by-country {
  border-bottom: @border;
}

.slider__gallery {
  overflow: hidden;
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
  }
}

.map__container {
  width: 100%;
  margin-right: 10px;
  @media(max-width:1000px) {
    width: 73%;
    margin-right: 0;
  }
  #map {
    height: 100%;
  }
  .gm-style .gm-style-iw {
    color: #333333;
  }
  .legend {
    padding: 10px 0 0 20px;
    background-color: #ffffff;
    opacity: 0.8;
    color: #333333;
    border-radius: 20px;
    @media(max-width:1000px) {
      height: 110px;
      overflow: scroll;
    }
    h3 {
      margin: 0;
    }
  }
}













