@import "~normalize.css";
@import "vars";

body {
  background-color: @body-background;
  font-family: @body-font;
  display: flex;
  padding: 10px;
  color: #ffffff;
}
.left__container {
  margin-right: 10px;
}
.right__container {
  display: flex;
  width: 30%;
}
.global__container {
  width: 99%;
  background-color: @container-background;
  border: @border;
  color: @red-color;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  &__text {
    font-size: 1rem;
    margin: 5px 0 10px;
    color: #ffffff;
    letter-spacing: @letter-spacing;
    text-transform: uppercase;
  }

  &__amount {
    font-size: 2rem;
    font-weight: 300;
  }
}

.slider-cases {
  background-color: @container-background;
  border: @border;
  position: relative;
  width: 398px;
  padding: 20px;
  .flag__image {
    max-width: 30px;
  }
}

.slider__items {
  display: flex;
  max-height: 80vh;
  overflow: scroll;
}

.slider-cases__inner__container,
.slider-deaths__inner__container,
.slider-recovered__inner__container {
  display: inline-block;
  width: 500px;
}

.slider-cases__country__container,
.slider-deaths__country__container,
.slider-recovered__country__container {
  display: flex;
  align-items: center;
  border-bottom: @border;
}

.country-name {
  font-weight: 300;
  margin-right: 10px;
}

.cases-total {
  color: @red-color;
  margin-right: 10px;
}
.recovered-cases {
  color: @green-color;
  margin: 7px;
}
.death-cases {
  color: #bdbdbd;
  margin: 7px;
}

.map__container {
  width: 50%;
  margin-right: 10px;
}

#map {
  height: 100%;
}

.death-cases__container,
.recovered-cases__container {
  max-height: 50vh;
  overflow: scroll;
  background-color: @container-background;
  border: @border;
  text-align: center;
  margin: 0 5px;
}

.death-cases-by-country,
.recovered-cases-by-country {
  border-bottom: @border;

  &__container,
  &__container {
  }
}




.slider__gallery {
  overflow: hidden;
}

.slider__items {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}











